<link rel="stylesheet" href="{{ "vendor/katex/katex.min.css" | relURL }}">
<script defer src="{{ "vendor/katex/katex.min.js" | relURL }}"></script>
<script defer src="{{ "vendor/katex/contrib/auto-render.min.js" | relURL }}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
            delimiters: [
                {left: '$$', right: '$$', display: true},
                {left: '$', right: '$', display: false},
                {left: '\\(', right: '\\)', display: false},
                {left: '\\[', right: '\\]', display: true}
            ],
            macros: {
                "\\E": "\\mathbb{E}",
                "\\Pbb": "\\mathbb{P}",
                "\\Pp": "\\mathbb{P}",
                "\\Prob": "\\mathbb{P}",
                "\\KL": "\\operatorname{KL}",
                "\\kl": "\\operatorname{kl}",
                "\\Ber": "\\operatorname{Bern}",
                "\\Beta": "\\operatorname{Beta}",
                "\\Poi": "\\operatorname{Poisson}",
                "\\Normal": "\\mathcal{N}",
                "\\Var": "\\operatorname{Var}",
                "\\Cov": "\\operatorname{Cov}",
                "\\Reg": "\\operatorname{Reg}",
                "\\TV": "\\operatorname{TV}",
                "\\Alt": "\\operatorname{Alt}",
                "\\argmax": "\\operatorname*{arg\\,max}",
                "\\argmin": "\\operatorname*{arg\\,min}",
                "\\dd": "\\mathrm{d}",
                "\\one": "\\mathbf{1}",
                "\\ind": "\\mathbf{1}",
                "\\R": "\\mathbb{R}",
                "\\F": "\\mathcal{F}",
                "\\G": "\\mathcal{G}",
                "\\GP": "\\mathcal{GP}",
                "\\given": "\\,\\middle|\\,",
                "\\st": "\\text{subject to}",
                "\\bm": "\\boldsymbol{#1}",
                "\\label": "\\phantom{#1}",
                "\\midrule": "\\hline",
                "\\calA": "\\mathcal{A}",
                "\\calD": "\\mathcal{D}",
                "\\calF": "\\mathcal{F}",
                "\\calH": "\\mathcal{H}",
                "\\calX": "\\mathcal{X}"
            },
            throwOnError : false
        });
    });
</script>
